<div class="photos"></div>
<h1></h1>
<form>
Title: <input type="text" name="imageTitle"><br>
Caption: <input type="text" name="imageCaption"><br>
ImgSrc: <input type="text" name="imageSrc"><br>
<button type="button" class="add">Click Me!</button>
</form>
